* {
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
  color: #ffffff;
  font-size: 2.5rem;
}

table, th, td {
  border: 1px solid rgb(25, 250, 55);
  border-collapse: collapse;
}

.table {
  margin: 100px auto;
  width: 90%;
}

tr {
  display: flex;
  justify-content: space-between;
}

td,
th {
  padding: 20px;
  width: 15%;
}

th {
  display: flex;
  justify-content: center;
  align-items: center;
}

.year {
  text-align: center;
}

.imdb {
  width: 20%;
  text-align: center;
}

.title {
  width: 50%;
}

.sorted-up::after,
.sorted-down::after {
  content: '\2191';
  margin-left: 10px;
  color: red;
}

.sorted-down::after {
  content: '\2193';
}
